asgiref==3.4.1
cffi==1.15.0
cryptography==36.0.1
Django==4.0
django-cpf==0.1.0
django-cpf-cnpj==1.0.0
django-crispy-forms==1.13.0
listview==0.1.0
mysqlclient==2.1.0
Pillow==8.4.0
pycparser==2.21
sqlparse==0.4.