{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>


  </div>
  <div class="card-footer text-muted"></div>
  </div>

  <div class="card" style="margin-left: 25%; margin-right: 25%; margin-top: 3%;">
    <div class="card-header">Gerar Problema</div>
    <div class="card-body">
      <h4 class="card-title">Função Objetivo: </h4>
      <div class="container">
        <form method="post">
          {% csrf_token %}

          <div class="row">
          
            
            {% for field in form.visible_fields|slice:sliceObjet %}
              <div class="col">
                {{ field }}
              </div>
              <div class="col-form-label">
                <label>{{ field.label }}</label>
              </div>            
            {% endfor %}

          </div>

          <p>Restrições:</p>

          <div class="form-row mb-3">
            {% for field in form.visible_fields|slice:sliceRest %}
              <div class="col">
                {{ field }}
              </div>

              {% if field.label != "break" and field.label != "signal" %}
              <div class="col-form-label">
                <label>{{ field.label }}</label>
              </div>
              {% endif %}

              {% if field.label == "break" %}
            </div>
            <div class="form-row mb-3">
              {% endif %}
            {% endfor %}
          </div>
          <input type="submit" value="Continuar" class="btn btn-success">

        </form>
      </div>


</body>

</html>
{% endblock %}