{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
    <div class="row">
        {% for num range(0,3) %}
            <div class="col">
              <input type="number" class="form-control" placeholder="x1" aria-label="First name" style = "width: 20%">
            </div>
            <label for="">+</label>
            <div class="col">
              <input type="number" class="form-control" placeholder="x2" aria-label="Last name" style = "width: 20%">
            </div>
            <select class="form-select" aria-label="Default select example" style = "width: 20%">
                <option selected>Maior|Menor|Igual</option>
                <option value="1">Maior Igual</option>
                <option value="2">Menor Igual</option>
                <option value="3">Igual</option>
              </select>
              <div class="col">
                <input type="number" class="form-control" placeholder="result" aria-label="Last name"   style = "width: 20%">
              </div>   
      </div>
      {% endfor %}
</body>
</html>
{% endblock %}